.clientRsvp {
    display: flex;
    margin-top: 150px;
}

.clientRsvp .clientRsvpContainer {
    margin: 0 auto 50px;
    width: 80%;
    padding-right: 10%;
}

.clientRsvp .clientNavSidebar {
    width: 20%;
    height: 100vh;
    padding-left: 20px;
}

.clientRsvp .buttonDiv {
    margin: 60px auto 30px;
    display: flex;
    flex-direction: column;
}

.clientRsvp .buttonDiv .rsvpButton {
    width: 30%;
    margin: 0 auto 30px;
}

.disabledBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rsvpCard {
    width: 50%;
    margin: 0 auto 30px;
    padding: 0 20px 20px;
}

@media (max-width: 800px) {
    .clientRsvp {
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .clientRsvp .clientRsvpContainer {
        margin: 0 auto;
        width: 60%;
        padding: 0;
    }
    
    .clientRsvp .clientNavSidebar {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        padding-left: 0;
    }

    .clientRsvp .buttonDiv .rsvpButton {
        width: 50%;
    }

    .rsvpCard {
        width: 80%;
    }

}


@media (max-width: 600px) {
    .clientRsvp .clientRsvpContainer {
        width: 80%;
    }

    .clientRsvp .buttonDiv .rsvpButton {
        width: 80%;
    }

}