.overall{
    height: 90px;
    width: 100%;
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border-bottom: 1px solid grey; */
    position:fixed;
    z-index: 1000;
    /* margin-top: -5px; */
    padding-top: 0%;
    top:0;
}

.navSections {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.siteName {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 2.4rem;
    vertical-align: baseline;
    padding: 20px 0 20px 0;

    align-self: center;
}

.leftNav {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
}

.rightNav {
    display: flex;
    flex-direction: row;
    align-self: center;
}

@media (max-width: 500px) {
    .overall {
        flex-direction: column;
    }

    .rightNav {
        flex-direction: column;
    }

    .leftNav {
        flex-direction: column;
    }
}