.billing {
    display: flex;
    margin-top: 150px;
}

.billing .billingContainer {
    margin: 0 auto 50px;
    width: 80%;
    /* padding: 0 10%; */
}

.billing .clientNavSidebar {
    width: 20%;
    height: 100vh;
    padding-left: 20px;
}

@media (max-width: 800px) {
    .billing {
        margin: 100px auto 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .billing .billingContainer {
        margin: 0 auto;
        width: 60%;
        padding: 0;
    }

    .billing .clientNavSidebar {
        display: none;
    }
    
}

@media (max-width: 600px) {
    .billing .billingContainer {
        width: 80%;
    }

}