/* using these styles in css will
cause the cards to expand 
offscreen forever */
.dashboard {
  display: flex;
  margin-top: 150px;
}

.dashboard .dashboardContainer {
  margin: 0 auto 50px;
  width: 85%;
  position: relative;
  padding: 0 40px 0 20px;
}

.dashboard .registry {
  margin-top: 30px;
  min-height: 200px;
  padding: 15px;
  display: flex;
}

.dashboard .cardDivTop {
  display: flex;
}

.dashboard .cardTopLeft {
  width: 50%;
  margin-right: 10px;
  height: 200px;
  padding: 15px 15px 30px;
}

.dashboard .cardTopRight {
  width: 50%;
  margin-left: 10px;
  height: 200px;
  padding: 15px 15px 30px;
} 

.dashboard .weddingInfo {
  display: flex;
  justify-content: space-between;
}

.dashboard .clientNavSidebar {
  width: 15%;
  height: 100vh;
  padding-left: 10px;
}


@media (max-width: 800px) {
  .dashboard {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .dashboard .clientNavSidebar {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    padding-left: 0;
  }

  .dashboard .dashboardContainer {
    margin: 0 auto;
    padding: 0;
  }

  .dashboard .cardDivTop {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .dashboard .registry {
    flex-direction: column;
    width: 100%;
  }

  .dashboard .weddingInfo {
    flex-direction: column;
  }

  .dashboard .cardTopLeft  {
    width: 100%;
    margin: 30px auto 0 auto;
  }

  .dashboard .cardTopRight {
    width: 100%;
    margin-top: 30px ;
    margin-left: 0px ;
  }
}


@media (max-width: 600px) {
  .dashboard .dashboardContainer {
    width: 100%;
  }
}