/* using these styles in css will
cause the cards to expand 
offscreen forever */
.dashboard {
  display: flex;
}

.dashboard .dashboardContainer {
  margin: 150px auto 50px;
  width: 85%;
  position: relative;
  padding-left: 30px;
}

.dashboard .cardTopLeft {
  width: 50%;
  margin-right: 10px;
  height: 200px;
  padding: 15px 15px 30px;
}

.dashboard .cardTopRight {
  width: 50%;
  margin-left: 10px;
  height: 200px;
  padding: 15px 15px 30px;
} 

.dashboard .weddingInfo {
  display: flex;
  justify-content: space-between;
}

.dashboard .clientNavSidebar {
  width: 15%;
  height: 100vh;
  margin-top: 150px;
}

@media (max-width: 600px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .dashboard .clientNavSidebar {
    width: 100%;
    height: 100%;
  }

  .dashboard .dashboardContainer {
    margin-top: 0px;
    width: 100%;
  }

  .dashboard .cardDivTop {
    flex-direction: column;
  }

  .dashboard .Registry {
    flex-direction: column;
  }
  .dashboard .weddingInfo {
    flex-direction: column;
  }
  .dashboard .cardTopLeft  {
    width: 90%;
    margin-top: 30px ;
    margin-right: 0px ;
    min-height: 200px ;
    padding: 15px ;
    display: flex ;
  }

  .dashboard .cardTopRight {
    width: 90%;
    margin-top: 30px ;
    margin-left: 0px ;
    height: 200px ;
    padding: 15px ;
    display: flex ;
  }
}