.MuiFormControl-root-185.guest-input{
    margin-right: 10px;
}

.MuiFormControl-root-230.guest-input{
    margin-right: 5px;
}

.MuiFormControl-root-185.related-spouse-radio{
    display: flex;
}

.inner-guest-input-box{
    
}