.MuiFormControl-root-185.guest-input{
    margin-right: 10px;
}

.MuiFormControl-root-230.guest-input{
    margin-right: 5px;
}

.MuiFormControl-root-185.related-spouse-radio{
    display: flex;
}

.guestList {
    display: flex;
    margin-top: 150px;
}

.guestList .guestListContainer {
    margin: 0 auto 50px;
    width: 80%;
    padding: 0 40px 0 20px;
}

.guestList .clientNavSidebar {
    width: 15%;
    height: 100vh;
    padding-left: 10px;
  }