.invite-cont{

    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgb(250, 246, 224);
    display: flex;
    justify-content: center;

}

.invite-main{
    position: relative;
    width: 80%;
    background-image: url('https://images.pexels.com/photos/1712513/pexels-photo-1712513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.i-top{

}

.i-middle{
    display: flex;
    background-color: white;
    opacity: .5;
    height: 250px;
    width: 100%; 

}

.i-bottom{
    
}