.userSettings {
    display: flex;
    margin-top: 150px;
}

.userSettings .settingsContainer {
    margin: 0 auto 50px;
    width: 80%;
    padding: 0 10%;
}

.userSettings .clientNavSidebar {
    width: 20%;
    height: 100vh;
    padding-left: 20px;
}

.userSettings .inputFields {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.userSettings .emailPassword {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.userSettings .nameLocation {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}


@media (max-width: 800px) {
    .userSettings {
        margin: 100px auto 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .userSettings .settingsContainer {
        margin: 0 auto;
    }
    
    .userSettings .clientNavSidebar {
        display: none;
    }
    
}


@media (max-width: 600px) {
    .userSettings .settingsContainer {
        width: 90%;
    }

}