.userSettings {
    display: flex;
    margin-top: 150px;
    
}

.userSettings .acct-info-title{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.userSettings .settingsContainer {
    margin: 0 auto 50px;
    width: 80%;
    padding: 5px;
}

.userSettings .clientNavSidebar {
    width: 20%;
    height: 100vh;
    padding-left: 20px;
}

.userSettings .inputFields {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.userSettings .emailPassword {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.userSettings .nameLocation {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}


@media (max-width: 800px) {
    .userSettings {
        margin: 100px auto 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .userSettings .settingsContainer {
        margin: 0 auto;
    }
    
    .userSettings .clientNavSidebar {
        display: none;
    }
    
}


@media (max-width: 600px) {
    .userSettings .settingsContainer {
        width: 90%;
    }

}

.acct-info{
    margin-bottom: 50px;
}

.acct-info-title{
    padding: 10px 0;
    border-top-right-radius: 15px;
    border: 1px solid lightgray;
    border-left: unset;
    background: rgb(198, 240, 255);
    padding-left: 5px;
    color: black;
    font-size: 25px;
    font-weight: 900; 
}

.user-names{
    display: flex;

}

.acct-spec{
    width: 50%;
    margin: 15px 0;
    padding-left: 5px;
}

.acct-topic{
    font-weight: 600;
    font-size: 19px;
}

.acct-spec-info{

}

.wedding-info{
    margin-bottom: 50px;
}

#standard-name{

}

.edit-acct{
    cursor: pointer;
}

.edit-acct > svg:hover{
    fill: pink;
}

.acct-spec.invite {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.choice-img.settings{
    background-position: top;
}

