.auth-div{

    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(white, #AFD4E1);
    

}


.discover-zen{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
}
@media (max-width: 400px){
    .discover-zen{
    
    }
}