.design-cont{

}

.des-template{
    height: 250px;
    width: 600px;
    overflow: hidden;
    justify-content: center;
    cursor: pointer;
}

.img-temp1{

}
.img-temp2{
    
}
.img-temp3{
    
}

.template-cont{
    position: relative
}

.des-template.1{

}
.des-template.2{
    
}
.des-template.3{
    
}