.designs-page-info{
    position: relative;
    display: flex;
}

.designs-page{

}

.designs-page-txt{
    
}

.designs-page-hdr{
    display: flex;
    justify-content: center;
    font-family: "Pinyon Script", cursive;
    color: #23369b;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    text-shadow: 1px 1px 1px beige;
    margin-bottom: 50px;
}

.des-template{
    height: 250px;
    width: 600px;
    overflow: hidden;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.des-template > img{
    width: 100%;
}

.img-temp1{

}
.img-temp2{
    
}
.img-temp3{
    
}

.template-cont{
    width: 60%;
    padding: 2%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.des-template.one{
    
}
.des-template.two{
    top: -150px;
    left: 50px;
}
.des-template.three{
    top: -300px;
    left: 100px;
}
