#designs{
    display: flex;
    flex-direction: column;
    position: relative;
}

#designs::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
    background: url('https://images.pexels.com/photos/169195/pexels-photo-169195.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    position: absolute;
    opacity: .6;
    z-index: -1;
}
.designs-page-info{
    position: relative;
    display: flex;
    height: 100%;
    min-width: 1280px;
    width: 100%;
    max-width: 1280px;

}

@media only screen and (max-width: 1240px){
    .designs-page-info{
        flex-direction: column;
        min-width: unset;
    }

    
}

.designs-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 1240px){
   

    .designs-page{
    height: unset;
    align-items: center;
    }
    .designs-page-info{
        align-items: center;
    }
}

.designs-page-txt{
    display: flex;
    flex-direction: column;
    position: relative;
    top:120px;
}

.designs-page-hdr{
    display: flex;
    justify-content: center;
    font-family: "Pinyon Script", cursive;
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.548);
    margin-top: 120px;
    margin-bottom: -120px;
}

.cto-cont{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.designs-call{
    font-size: 23px;
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font30b{
    font-size: 30px;
    font-weight: bold;
    color: #23369b;
}

.auth-btn.design{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: white;
    font-size: 20px;
    background: #87C8CD;
    border: 3px outset white; 
}

.auth-btn.design:hover{
    background: rgba(255, 255, 255, 0.651); 
    color: palevioletred;
    font-weight: bolder;
}



.des-template{
    height: 250px;
    min-width: 600px;
    width: 600px;
    overflow: hidden;
    justify-content: center;
    cursor: pointer;
    position: relative;
    box-shadow: -1px 1px 3px rgba(0,0,0,.5);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 10px;
}

.des-template:hover{
    transition: .3s;
    border: 3px solid rgba(255, 192, 203, 0.493);
    padding-bottom: 10px;
    z-index: 1;
    
}

.des-template > img{
    width: 100%;
}

.img-temp1{

}
.img-temp2{
    
}
.img-temp3{
    
}

.template-cont{
    width: 60%;
    padding: 0 2%;
    height: 100%;
    position: relative;
    flex-direction: column;
    display: flex;
    top:120px;
}

.des-template.one{
    top: 80px;
}
.des-template.two{
    left: 50px;
    top: -90px;
}
.des-template.three{
    left: 100px;
    top: -270px;
}
a.designs-auth-btn::before{
    all: unset;
    
}
a.designs-auth-btn{
    all: unset;
    
}

@media only screen and (max-width: 1240px){
   

    .template-cont{
        align-items: center;
    }
    .des-template.two{
        left: 25;
    }
    .des-template.three{
        left: 50;
    }
    .designs-page-txt{
        top: -150px;

    }
    a.designs-auth-btn{
        margin-top: 50px;

    }
    .designs-call{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.384);
        font-size: 35px;
    }
}

@media only screen and (max-width: 800px){
    .template-cont{
        width: 95%;
    }
    .des-template.one{
        top: unset;
    }

    .des-template{
        margin: 15px 0;
        width: 95%;
        min-width: unset;
    }
    
    .des-template.two{
        left: unset;
        top: unset;
    }
    .des-template.three{
        left: unset;
        top: unset;
    }
    .designs-page-txt{
        top: unset;
        margin-top: 150px;
    }
    a.designs-auth-btn{
        margin-top: 50px;

    }
    .designs-call{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.548);
        font-size: 20px;
    }
    .font30b{
        font-size: 25px;
        font-weight: bold;
        
    }
}

@media (max-width: 360px){
    .designs-page-hdr{
        font-size: 48px;
    }
}

