@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
.firstfont{
  display: flex;
  flex-direction: column;
  font-family: 'Pinyon Script', cursive;
  color: '#AFD4E1';
  position: absolute;
  top:220px;
  left:4.5%;
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
}

.secondfont{
  display: flex;
  flex-direction: column;
  font-family: 'Pinyon Script', cursive;
  color: '#AFD4E1';
  position: absolute;
  top:320px;
  left:4.5%;
  font-size: 80px;
  font-weight: 500;
  line-height: 1;
}

.arrow{
  position: absolute;
  left:35%;
  top:670px;
  height:35px;
  width:35px;
}

.arrow:hover{
  opacity:.6;
  cursor: pointer;
  color:red;
}
/* .containerLanding{

}

.containerDesign{

}

.containerPricing{

} */

.checkoutdesigns{
  position: absolute;
  left:23%;
  top:640px;
  font-size: 20px;
  font-weight: 500;
}

.checkoutdesigns:hover{
  opacity:.6;
  cursor:pointer;
}

.hover{
  transition: 0.3s;
}

.hover:hover {
  color:lightpink;
  font-weight: bolder;
}

.hover2{
  filter: brightness(150%);
}

.hover2:hover {
  filter: brightness(150%);
}

