@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.container-invite{
    width:100%;
}

.invite-cont{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: url('https://images.pexels.com/photos/169191/pexels-photo-169191.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.invite-main{
    position: relative;
    display: flex;
}

.list{
    position: relative;
    width: 50%;   
}

.countdown{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-size: 55px;
    font-weight: bold;
    color: white;
    font-family: 'Dancing Script', cursive;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
    width: 50%;
}

.big-day{
    position: relative;
    display: flex;
    font-size:75px;
}

.part-two{
    width:100%;
    
}

.part-two-top{
    display: flex;
    background: beige;
    margin-bottom: 15px;
    justify-content: space-around;
    padding: 12px;
}

.partner-name{
    display: flex;
    justify-content: center;
    color: beige;
    text-shadow: 1px 1px 1px black;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

.p-name{
    
}

.part-three{
    width:100%;
    background: #F4F4F4;
    background: url(flowerrings.jpg);
    background-size: 100% 100%;
}

.header-name{
    font-size: 45px;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
    position: relative;
    opacity: .95;
    justify-content: center;
    width: 100%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    height: 50%;
}

.amper{
    margin: 0 20px;
}

.couples-names{
    font-size: 3.6em;
    width: 100%;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.39);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.811);
    display: flex;
    justify-content: center;
}

.save-date{
    display: flex;
    flex-direction: column;
    font-size: 75px;
    font-weight: bold;
    color:whitesmoke;
    opacity:.9;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.save-date-txt{
    color: rgb(108, 192, 223);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    
}

.smaller-font{
    font-size: 70px;
    text-align: center;
    color: beige;
}
.save-address{
    font-size: 45px;
    text-align: center;
    padding: 10px;
    color: pink;

}

.hearts{
    display: inline-block;

}

.partner-invite{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}


.location2{
    position: relative;
    font-size: 105px;
    font-weight: bold;
    /* color:whitesmoke; */
    color:#d0d2d1;
    font-family: 'Dancing Script', cursive;
    opacity:.95;
}

.story{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 135px;
    font-weight: bold;
    color:whitesmoke;
    font-family: 'Dancing Script', cursive;
    opacity:.95;
    align-items: center;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.story-title{
    color: beige;
}

.paragraph{
    font-size: 40px;
    line-height: 1.25;
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.705);
    border-bottom-right-radius: unset;
    border-top-left-radius: unset;
    
}

.dialog{
    display: flex;
    justify-content: center;
    position: relative;
}

.wedding-party{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
justify-content: 'space-evenly';
position: relative;
padding: 20px 0;
}

.bride{
display: flex;
position: relative;
}

.groom{
display:flex;
position: relative;
}

.heart-header{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}



.partner-descrip{
    position: relative;
    text-align: center;
    color:black;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}


.andy-descrip{
    position: relative;
    color:#d0d2d1;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.invite-btn{
    padding: 10px 55px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

a.invite-anchor::before{
    all: unset;
}

.invite-anchor{
    position: relative;
    
}

@media only screen and (max-width: 900px){
    .couples-names{
        font-size: 100px;
    }

}

@media only screen and (max-width: 420px){
    .header-name{
        height: 25%;
        margin-top: 55px;
    }
    .part-two-top{
        flex-direction: column;
    }
    .story-title{
        font-size: 50px;
    }
    .couples-names{
        font-size: 48px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .wedding-party{
        flex-direction: column;
    }
    .save-date{
        font-size: 40px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        margin-top: 30px;
    }
    .smaller-font{
        font-size: 40px;
    }
    .save-address{
        font-size: 25px;
    }
    .invite-cont{
        
    }
    .countdown{
        width: 100%;

    }
    .big-day{
        font-size: 35px;
        color: pink;
        text-shadow: 1px 1px 1px black;
    }
    .partner-invite{
        width: 100%;
    }

    .partner-name{
        font-size: 40px;
    }
    .hearts{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    .paragraph{
        font-size: 20px;
    }
    .list{
        display: none;
    }
    .partner-descript{
        font-size: 25px;
    }
    
}