/* .invite-cont{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
} */

.invite-main{
    position: relative;
    width: 80%;
    background-image: url('banner.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* height:100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .i-top{

} */

.i-middle{
    display: flex;
    background-color: white;
    opacity: .1;
    height: 130px;
    width: 100%; 
    font-size: 30px;
    color: #000;
    font-weight: 900;
    position: relative;
    top:50%;
}

.message{
    display: flex;
    align-items: flex-end;
    position: relative;
    left:40%;
    bottom: 50%;
}
/* .i-bottom{
    
} */

